<!-- taken from https://www.osano.com/cookieconsent/documentation/javascript-api/ -->
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>

  function deleteAllCookies() {
    var cookies = document.cookie.split(";");

    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    }
  }

  var loadGoogleAnalytics = function(){
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.analytics }}', 'auto');
    ga('send', 'pageview');
  };
  

  var loadGoogleAnalytics4 = function(){
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.googletagmanager.com/gtag/js?id=G-THFZKM9PJZ','ga');
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-THFZKM9PJZ');
  };


  window.addEventListener("load", function(){
  	cookieconsent.initialise({
        type: 'info',
        theme: 'classic',
        revokable: true,
        palette: {
          "popup": { "background": "#252e39", "text": "#ffffff" },
          "button": { "background": "#56cbdb", "text": "#ffffff" },
        },
        content: content_ = {
          message: "This site uses cookies from Google to deliver its services, to personalise ads and to analyse traffic. Information about your use of this site is shared with Google. By using this site, you agree to its use of cookies. If you want to learn more or withdraw your consent please click on ",
                allow: 'Allow',
                link: "Read More",
                href: '{{site.url}}/cookie-policy.html',
                target: '_blank',
        },
        law: {
          regionalLaw: false,
      	},
      
      onPopupOpen: function () {
        console.log("popup opened");
        console.log("#######"+window.location.pathname);
        // show shaded div
        if(window.location.pathname != '/cookie-policy.html'){
          var div = document.createElement('div');
          div.setAttribute("id", "shade-region");
          div.style.position = 'fixed';
          div.style.width = '100%';
          div.style.height = '100%';
          div.style.top = 0;
          div.style.opacity = 0.7;
          div.style.background = '#000';
          document.body.appendChild(div);
        }
      },

      onPopupClose: function () {
        if(window.location.pathname != '/cookie-policy.html'){
          var element = document.getElementById("shade-region");
          element.parentNode.removeChild(element);
          console.log("popup closed");
        }
      },
      
      onInitialise: function (status) {
        if(this.hasConsented()){
          console.log("Consented! Load analytics");
          loadGoogleAnalytics4();
        }
      },

  		onStatusChange: function(status, chosenBefore) {
    			if(this.hasConsented()){
            console.log("Consented! Enable analytics");
            window['ga-disable-{{ site.analytics }}'] = false;
      			loadGoogleAnalytics4();
      		} else {
            console.log("Denied! Disable and delete analytics");
            window['ga-disable-{{ site.analytics }}'] = true;
            deleteAllCookies()
      		}
  		}

	}); 
  });

</script>