<div class="share-page">
    Share this on &rarr;
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter }}&related={{ site.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter" style="color:  #1DA1F2;">
    	<i class="fa fa-twitter fa-lg"></i>
    </a>
    <a href="https://www.facebook.com/sharer.php?u={{ site.url }}/{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Facebook" style='color: #4867AA;'>
    	<i class="fa fa-facebook fa-lg"></i>
    </a>
    <!-- <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+" style='color: #DD4B39;'>
    	<i class="fa fa-google-plus fa-lg"></i>
    </a> -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Share on LinkedIn" style='color: #0177B5;'>
    	<i class="fa fa-linkedin fa-lg"></i>
    </a>
    <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Reddit" style='color: #FF4500;'>
    	<i class="fa fa-reddit fa-lg"></i>
    </a>
</div>


